
/*===========================================================
 Contact
===========================================================*/

.contact{
    &-area {
        background-color: $color_pampas_approx;
        padding-bottom: 200px;
        margin-top: 200px;
        padding-top: 126px;
        position: relative;
    }
    &-inner {
        position: relative;
        // max-width: 1070px;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }
    &-form {
        width: 100%;
        max-width: 620px;
        border-radius: 8px;
        box-shadow: 5px 5px 15px 0 $black_0;
        background-color: $color_mirage_approx;
        padding: 35px 40px;
        position: absolute;
        right: 0;
        top: -200px;
    
        btton {
            float: right;
            margin-top: 20px;
        }
    
        button {
            font-size: $small;
            font-weight: 600;
            line-height: 2;
            color: $color_pampas_approx;
            float: right;
            margin-top: 25px;
        }
    }
    &-left {
        max-width: 400px;
        width: 100%;
    
        h3 {
            font-size: $large;
            font-weight: 700;
            line-height: 1.3;
            color: $black; 
            margin-bottom: 25px;
            position: relative;
    
            &:before {
                position: absolute;
                content: '';
                width: 60px;
                height: 5px;
                background-image: linear-gradient(266deg, #2ab2df 114%, #00beb0 -12%);
                left: 0;
                top: -20px;
            }
        }
    
        p {
            font-size: $base;
            line-height: 2;
            color: $black; 
            max-width: 290px;
            width: 100%;
        }
    }
    &-banner-text {
        max-width: 560px !important;
    }
    &-left a {
        font-size: $base;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.4px;
        color: $color_big_stone_approx;
        display: block;
    }
    
}



.single-form {
    margin-bottom: 15px;
    input {
        border: 0;
        background: transparent;
        border-bottom: 1px solid $color_pampas_approx;
        width: 100%;
        height: 60px;
        padding: 0 10px;
        font-size: $small;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: $color_pampas_approx;
    }
}

.textarea {
    margin-top: 40px;

    textarea {
        border: 0;
        background: transparent;
        height: 140px;
        width: 100%;
        border: solid 1px $color_pampas_approx;
        font-size: $small;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: $color_pampas_approx;
    }

    label {
        font-size: $small;
        line-height: 1.5;
        color: $color_pampas_approx;
        padding-left: 10px;
        margin-bottom: 10px;
    }
}

.mrb-200 {
    margin-bottom: 200px;
}
