.fix_banner_link,
.fix_banner_link:hover {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #172744;
    text-decoration: none;
}

.mobile-footer-area {
    display: none;
}


.banner-img {
    filter: grayscale(15%);
    -webkit-filter: grayscale(15%);
}

.contact-left h3::before,
.title h2::before {
    background-image: linear-gradient(90deg, #00BEB0 0%, #2AB2DF 100%);
}

.banner-text {
    h2 {
        font-size: 2.35em;
    }

    p {
        font-size: 1em;
    }
}

hr {
    color: white;
}


.home-banner .banner-text a,
.banner-text a {
    font-size: 1em;
}

.title h2 {
    font-size: 2em;
}

.home-banner .banner-text p {
    max-width: 88%;
}

.bg-whiter .banner-btm-text p {
    color: #172744;
}

.sinngle-core.active {
    background-color: #f5f3f0;
}

.sinngle-core.active .core-text p {
    color: #000;
}


.sinngle-core.active .core-text h2 {

    color: #000;

}

.footer-area {
    padding-top: 60px;
    padding-bottom: 20px;
}


@media (min-width: 768px) {
    .companies .odd {
        margin-left: 50px;
    }
}

@media (max-width: 991px) {
    .companies .config-right {
        max-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding-left: 30px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 50px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}



.content-img img {
    border-radius: 8px;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));
}

.single-form input {
    color: #FFFFFF;
}


@media (max-width: 767px) {

    .core-area {
        padding-top: 60px;
    }

    .bedrijven-inner {
        padding: 20px;
    }
}

@media (max-width: 991px) {

    .banner-text h2 {
        font-size: 1.75em;
    }

    .title h2 {
        font-size: 1.5em;
    }

    .banner-right-img {
        display: none;
    }

    .banner-btm-text {
        display: none;
    }

    .banner-icon {
        display: none;
    }

    .home-banner .banner-text {
        max-width: 100%;
    }

    .bedrijven-inner {
        min-height: 400px;
        padding: 55px;
    }

    .textarea {
        margin-top: 0;
    }

    .contact-form button {
        margin-top: 0;
    }

    .companies .spacer-x:nth-of-type(2) {
        margin-top: 0px;
    }

    .companies .config-right-single:nth-of-type(2) {
        margin-top: 0px;
    }

    .companies .config-single {
        margin-left: 20px;
    }

    .companies .odd {
        margin-left: 0px;
    }



    .contact-form {
        padding: 20px 10px 40px 10px;
    }

    .core-icon {
        float: right;
    }

    .core-title h2 {
        margin-bottom: 20px;
    }

    .sinngle-core {
        margin-top: 0px;
    }

    .config-area,
    .contact-area {
        padding-top: 60px;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    .themes-single-icon {
        float: right;
    }

    .contact-left p {
        max-width: 100%;
    }

    .footer-area {
        display: none;
    }

    .mobile-footer-area {
        display: block;
        background: #1b2430;
        padding: 20px;
    }

    .mobile-footer-area .footer-logo {
        margin: 0;
    }

    .content-area-themes .content-img img {
        display: none;
    }

    .content-area-themes .content-text img {
        float: right;
    }

    .content-area-themes .content-text {
        padding: 10px;
    }

}


@media (max-width: 1199px) {}

@media (max-width: 1849px) {}

@media (min-width: 1850px) {}

.companies {

    .spacer-x:nth-of-type(2) {
        margin-top: 50px;
    }

    .config-right-single:first-child {
        margin-top: 0;
    }

    @include respond(large) {
        .config-right-single:nth-of-type(2) {
            margin-top: 140px;
        }
    }

    .config-single {
        margin-left: 20px;
        height: 140px;

        @include respond(small) {
            height: 175px;
        }
    }

    .config-text {
        max-width: 100%;
        padding: 10px 20px;

        .roles {
            position: absolute;
            bottom: 10px;
            left: 0;
            padding: 0 20px 10px 20px;

            p {
                line-height: 1;
                font-size: 13px;
                font-style: italic;
            }

            img {
                margin-right: 5px;
                margin-bottom: 5px;
                height: 15px;
            }
        }

        .urls {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 20px 10px 20px;
        }
    }

    .config-text p {
        max-width: 100%;
        padding: 0;
        padding-bottom: 1.2rem;
    }

    .config-text p:empty {
        padding-bottom: 0;
    }


    .contact-left p {
        max-width: 90%;
    }

    .contact-left h3 {
        max-width: 90%;
    }

    .config-left {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .config-right {
        max-width: 100%;
        padding: 0 50px;
    }

    .config-right-single {
        width: 100%;
    }

    .config-single {
        width: 100%;
        align-items: unset;
        padding-top: 20px;
    }

    .config-single a {
        font-size: 13px;
        line-height: 2;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }



    .config-icon {
        position: absolute;
        left: -40px;
        top: -45px;
        background-color: white;
        max-width: 120px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 5px;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));
    }
}

.companies.about-us .config-icon {
    background: none;
    left: -61px;
    top: -30px;

    img {
        width: 120px;
        max-width: none;
    }
}

.about-us {
    .config-text p {
        font-size: 15px;
        max-width: 100%;
        padding: 0;
    }

    .footer-icon {
        margin-top: 12px;
        padding-left: 39px;
    }

    .config-single {
        height: 120px;
    }
}

.companies-page.config-area {
    background: none;
    padding-top: 20px;
}

.companies-page {
    .config-single {
        margin-left: 20px;
        height: 300px;

        @include respond(small) {
            height: 385px;
        }
    }

    .urls {
        width: 100%;

        .jobs,
        .cases {
            float: right;
        }
    }
}


// Fix for sticky menu
nav {
    padding: 10px;
    margin-bottom: 10px;
}

.contact  {
    a, a:link, a:visited, a:active {
        color: #172744;;
        text-decoration: none;
    }
    a:hover {
        color: #2ab2df ;
        text-decoration: underline;
    }
}

.footer-area .contact  {
    a, a:link, a:visited, a:active {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        color: #2ab2df ;
        text-decoration: underline;
    }
}