
/*===========================================================
 Ove  ons
===========================================================*/
/*
.core-title h2:before {
    position: absolute;
    content: '';
    width: 60px;
    height: 5px;
    background-image: linear-gradient(266deg, #2ab2df 114%, #00beb0 -12%);
    left: 0;
    top: -20px;
}*/
.core-area {
	padding-top: 120px;
}
.sinngle-core {
	padding: 45px 55px;
	cursor: pointer;
	transition: .4s;
	&.active {
		border-radius: 8px;
		box-shadow: 5px 5px 15px 0 $black_20;
		background-color: $color_mirage_approx;
		.core-text {
			h2 {
				color: $white;
			}
			p {
				color: $white;
			}
		}
	}
	// &:hover {
	// 	border-radius: 8px;
	// 	box-shadow: 5px 5px 15px 0 $black_20;
	// 	background-color: $color_mirage_approx;
	// 	.core-text {
	// 		h2 {
	// 			color: $white;
	// 		}
	// 		p {
	// 			color: $white;
	// 		}
	// 	}
	// }
}
.sinngle-core-inner {
	// max-width: 290px;
	margin-left: auto;
	margin-right: auto;
}
.core-title {
	// max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	h2 {
		position: relative;
		font-size: $large;
		font-weight: bold;
		line-height: 1.2;
		color: $black; 
		margin-bottom: 100px;
	}
}
.core-icon {
	margin-bottom: 10px;
}
.core-text {
	h2 {
		font-size: $medium;
		font-weight: 600;
		line-height: 2;
		color: $black; 
		margin-bottom: 5px;
	}
	p {
		font-size: $base;
		line-height: 2;
		color: $black; 
	}
}