<section class="person-area">
    <div class="container">
        <div class="row spacer-x">
            
          
            
            <div class="col-lg-6 col-md-12">
                <div class="single-service odd">
                    <div class="service-inner">
                        <div class="service-icon bg-green">
                            
                            <img src="https://www.datocms-assets.com/65963/1649241882-logo_jcore_color.png?w=84&amp;h=101&amp;fm=webp" alt="JCore Logo" title="">
                            
                        </div>
                        <div class="service-text">
                            <h3>JCore</h3>
                            <p>Long</p>
                            <a href="https://www.jcore.com">www.jcore.com<img src="/assets/img/bedrijven/arrow-right.svg" alt="icon"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="single-service even">
                    <div class="service-inner">
                        <div class="service-icon bg-green">
                            
                            <img src="https://www.datocms-assets.com/65963/1649241882-logo_jcore_color.png?w=84&amp;h=101&amp;fm=webp" alt="JCore Logo" title="">
                            
                        </div>
                        <div class="service-text">
                            <h3>JCore</h3>
                            <p>Long</p>
                            <a href="https://www.jcore.com">www.jcore.com<img src="/assets/img/bedrijven/arrow-right.svg" alt="icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>
</section>