<!-- =================== content Area =================== -->
<section class="content-area ">
    <div class="container container-large">
        <div class="row">
            <div class="col-12">
                <div class="bg-content ">
                    <div class="style">
                        <img src="/assets/img/home/themas-bg.svg" alt="themas-bg">
                    </div>
                    <div class="content-inner content-2 content-1 inner-container">
                        <div class="content-img">
                            {{if .image}}
                            <img src="/assets/img/1.png" alt="img">
                            {{end}}
                        </div><!-- /.content-img -->
                        <div class="content-text title">
                            <h2>{{.title}}</h2>
                            <p>{{.short | safeHTML }}</p>
                        </div><!-- /.content-text -->
                    </div><!-- /.bg-content -->

                </div><!-- /.content-inner -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.content-area -->