<section class="content-area mrb-200">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content-inner">
                    <div class="content-img">
                        <img src="/assets/img/contact/2.png" alt="img">
                    </div><!-- /.content-img -->
                    <div class="content-text">
                        <img src="/assets/img/contact/Bank.svg" alt="icon">
                        <h2>{{.title}}</h2>
                        <p>{{.short | safeHTML }}</p>
                    </div><!-- /.content-text -->
                </div><!-- /.content-inner -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.content-area -->
