{{ $onsNetwerk := "ons-netwerk" }}
<!-- =================== config Area =================== -->
<section class="config-area companies">
    <div class="container">
        <div class="row spacer-x">
            <div class="col-12">
                <div class="config-inner">
                    <div class="config-left title">
                        <h2>{{.title}}</h2>
                        <p>{{.short}}</p>
                        <a href="{{ $onsNetwerk | absLangURL }}">Ontdek meer <img src="/assets/img/arrow-right.svg"
                                alt="arrow"></a>

                    </div><!-- /.config-inner-left -->
                </div>
            </div>
        </div>


        <div class="row spacer-x">
            <div class="col-12">
                <div class="config-inner">

                    <div class="config-right">
                        <div class="config-right-single">
                            <!-- single -->
                            {{ range .items }}
                            {{ if .even }}
                            <div class="config-single even">
                                <div class="config-icon">
                                    {{ if .logo_color}}
                                    <a href="{{ $onsNetwerk | absLangURL }}#{{urlize .name}}">
                                        <img src="{{.logo_color.src}}" alt="{{.logo.alt}}" title="{{.logo.title}}">
                                    </a>
                                    {{end}}
                                </div><!-- /.config-icon -->
                                <div class="config-text">
                                    <p>{{.short}}</p>
                                    <div class="roles">
                                        <p>
                                            <img src="/assets/img/person.svg" alt="Rollen" title="Rollen">
                                            {{.roles}}
                                    </div>
                                    </p>
                                    <div class="urls">
                                        <a href="{{ $onsNetwerk | absLangURL }}#{{urlize .name}}">Ontdek meer <img
                                                src="/assets/img/arrow-right.svg" alt="arrow"></a>
                                    </div>
                                </div><!-- /.config-text -->
                            </div><!-- /.config-single -->
                            {{end}}
                            {{end}}
                        </div><!-- /.config-right-single -->
                        <div class="config-right-single odd">
                            {{ range .items }}
                            {{ if not .even }}
                            <div class="config-single">
                                <div class="config-icon">
                                    {{ if .logo_color }}
                                    <a href="{{ $onsNetwerk | absLangURL }}#{{urlize .name}}">
                                        <img src="{{.logo_color.src}}" alt="{{.logo.alt}}" title="{{.logo.title}}">
                                    </a>
                                    {{end}}
                                </div><!-- /.config-icon -->
                                <div class="config-text">
                                    <p>{{.short}}</p>
                                    <div class="roles">
                                        <p>
                                            <img src="/assets/img/person.svg" alt="Rollen" title="Rollen">
                                            {{.roles}}
                                    </div>
                                    </p>
                                    <div class="urls">
                                        <a href="{{ $onsNetwerk | absLangURL }}#{{urlize .name}}">Ontdek meer
                                            <img src="/assets/img/arrow-right.svg" alt="arrow"></a>
                                    </div>
                                </div><!-- /.config-text -->
                            </div><!-- /.config-single -->
                            {{end}}
                            {{end}}
                        </div><!-- /.config-right-single -->
                    </div><!-- /.config-right -->
                </div><!-- /.config-inner -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.config-area -->