<!-- =================== core Area =================== -->
<section class="core-area">
    <div class="container">
        <div class="row spacer-x">
            <div class="col-12">
                <div class="core-title title">
                    <h2>{{.title}}</h2>
                </div><!-- /.core-title -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
        <div class="row spacer-x-small">
            {{range .items}}
            <div class="col-lg-4 col-md-6">
                <div class="sinngle-core {{if not .even}}active{{end}}">
                    <div class="sinngle-core-inner">

                        <div class="core-icon">
                            <img src="/assets/img/over-ons/Star.svg" alt="icon">
                        </div><!-- /.core-icon -->
                        <div class="core-text">
                            <h2>{{.title}}</h2>
                            <p>{{.short | safeHTML}}</p>
                        </div><!-- /.core-text -->
                    </div><!-- /.sinngle-core -->
                </div><!-- /.sinngle-core -->
            </div><!-- /.col-lg-4 -->
            {{end}}
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.core-area -->
