body {
    background-color: #F5F3F0;
    margin: 0;
}

.image-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.image {
    width: 33%;
    max-width: 333px;
}
  