.content-area {
	margin-top: 100px;
	margin-bottom: 100px;
}
.content-inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 110px;
	position: relative;
	.style {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}
}
.content-2 {
	position: relative;
	height: 520px;
	margin-bottom: 70px;
	.content-text {
		h2 {
			color: $white;
		}
		p {
			color: $white;
		}
	}
	.content-img {
		position: absolute;
		right: 90px;
		top: 100px;
	}
}
.content-text {
	max-width: 464px;
	width: 100%;
	h2 {
		font-size: $large;
		font-weight: bold;
		line-height: 1.2;
		color: $color_big_stone_approx;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	p {
		font-size: $base;
		line-height: 2;
		color: $color_big_stone_approx;
	}
}
.content-text,
.content-img {
	position: relative;
	z-index: 10;
}
.bg-content {
	border-radius: 8px;
	box-shadow: 5px 5px 15px 0 $black_20;
	background-color: $color_mirage_approx;
	position: relative;
	.style {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}
}
.content-img {
	max-width: 508px;
	width: 100%;
}
.content-1 {
	justify-content: flex-end;
	.content-img {
		left: 110px;
	}
}
