<footer class="footer-area">
  <div class="container">
      <div class="row spacer-x">
          <div class="col-12">
              <div class="footer-logo">
                  <a href="#"><img src="/assets/img/logo-footer.png" alt="logo"></a>
              </div><!-- /.footer-logo -->
          </div><!-- /.col-12 -->
      </div><!-- /.row -->
      <div class="row spacer-x">
          <div class="col-xl-5 col-lg-4 col-md-3">
              <div class="footer-left">
                  <h3>Contact</h3>
                  <address>
                      Coltbaan 4d <br>3439 NG Nieuwegein
                  </address>
                  <a href="#">030 - 630 39 27 <br>info@conflux.nl</a>
                  <div class="footer-icon">
                      <a href="#"><img src="/assets/img/footer/Linkedin.svg" alt="icon"></a>
                      <a href="#"><img src="/assets/img/footer/Twitter.svg" alt="icon"></a>
                  </div><!-- /.footer-icon -->
              </div><!-- /.contact-left -->
          </div><!-- /.col-lg-5 -->
          <div class="col-xl-7 col-lg-8 col-md-9">
              <div class="footer-right">
               
                <li class="nav-item">
                </li>
           
                  <div class="footer-single">
                      <h3>Links</h3>
                      {{ $currentNode := . }}
                      {{ range .Site.Menus.main }}
                      <ul>
                          <li><a href="{{.URL}}">{{.Name}}</a></li>
                      </ul>
                     {{end}}
                  </div><!-- /.footer-single -->
                  {{ if .Params.companies }}
                  <div class="footer-single">
                      <h3>{{.Params.companies.title}}</h3>
                      {{range .Params.companies.items}}
                      <ul>
                          <li><a href="#">{{.name}}</a></li>
                      </ul>
                      {{end}}
                    
                  </div><!-- /.footer-single -->
                  {{end}}
                  {{ if .Params.themes }}
                  <div class="footer-single">
                      <h3>{{.Params.themes.title}}</h3>
                      {{range .Params.themes.items}}
                      <ul>
                          <li><a href="#">{{.title}}</a></li>
                      </ul>
                      {{end}}
                      
                  </div><!-- /.footer-single -->
                  {{end}}
              </div><!-- /.footer-right -->

          </div><!-- /.col-lg-7 -->
      </div><!-- /.row -->
      <div class="row">
          <div class="col-12">
              <div class="footer-btm">
                  <a href="#">Algemene voorwaarden <span>|</span> Privacy</a>
              </div><!-- /.footer-btm -->
          </div><!-- /.col-12 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
  <div class="footer-bg">
      <img src="/assets/img/footer-big.png" alt="footer-bg" class="footer-big">
      <img src="/assets/img/footer-bg.png" alt="footer-bg" class="footer-smaller">
  </div><!-- /.footer-bg -->
</footer><!-- /.footer-area -->

<!-- jQuery -->
<script src="/assets/js/jquery-1.11.2.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/preloader.js"></script>
<script src="/assets/js/main.js"></script>
<script>
  $(document).ready(function () {
      $('body').npreLoader({});

  });

  $('.about-slider').slick({
      slidesToShow: 2,
      slidesToScroll: 1,
      arrows: true,
      autoplay: false,
      centerMode: false,
      centerPadding: '10%',
      infinite: true,
      // initialSlide: 1,
      nextArrow: $('.slick-left'),
      prevArrow: $('.slick-right'),
      responsive: [{
              breakpoint: 1200,
              settings: {
                  slidesToShow: 2,
                  slidesToScroll: 1,
              },
          },
          {
              breakpoint: 992,
              settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
              },
          },

          {
              breakpoint: 575,
              settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
              },
          },
      ],

  });
</script>



</body>

</html>