/*===========================================================
 Home page
===========================================================*/



.home-banner {

    .banner-text {
        max-width: 520px;

        h2 {
            color: $white;
        }

        p {
            color: $white;
            max-width: 370px;
            margin-bottom: 30px;

   
        }
        a {
            font-weight: 600;
            color: $white;
            font-size: $base;
            line-height: 1.5;
            color: $white;
            text-decoration: none;

        }
    }
}


.themes {
    &-area {
        position: relative;
        padding-bottom: 40px;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 40%;
            top: 0;
            left: 0;
            background: $color_pampas_approx;
        }

    }

    &-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-area {
            border-radius: 8px;
            box-shadow: 5px 5px 15px 0 $black_20;
            background-color: $color_mirage_approx;
            padding: 90px 110px;
            padding-top: 110px;
            position: relative;

            .style {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    &-title {
        position: relative;
        z-index: 10;

        h2 {
            color: $white;
            margin-bottom: 45px;
        }

    }

    &-single {
        position: relative;
        z-index: 10;
        &-text {
            max-width: 290px;
            h3 {
                font-size: $medium;
                font-weight: 600;
                line-height: 2;
                color: $white;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            
            p {
                font-size: $base;
                line-height: 2;
                color: $white;
            
            }
            
            a {
                font-size: $base;
                font-weight: 600;
                line-height: 2;
                color: $white;
                margin-top: 40px;
                text-decoration: none;
                display: inline-block;
            }
        }
    }
}


.row-reverce {
	flex-direction: row-reverse;
}
.content{
    &-title {
        margin-bottom: 40px;
        h2 {
            color: $black; 
            // max-width: 1070px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-text-home {
        max-width: 520px !important;
    }
}


.config{
    &-area {
        background-color: $color_pampas_approx;
        padding-top: 140px;
        padding-bottom: 50px;
        margin-top: 120px;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
    &-single {
        border-radius: 8px;
        background-color: $color_mirage_approx;
        position: relative;
        height: 90px;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        width: 290px;
        justify-content: center;

    }
    &-left {
        max-width: 290px;
        width: 100%;
        h2 {
            color: $black; 
        }
        p {
            font-size: $base;
            line-height: 2;
            color: $black; 
            margin: 30px 0;
        }
        a {
            font-size: $base;
            line-height: 2;
            color: $black; 
            font-weight: 600;
            text-decoration: none;
        }
    }
    &-right {
        max-width: calc(100% - 290px);
        display: flex;
        width: 100%;
        padding-left: 130px;
        justify-content: space-between;
        &-single {
            &:first-child {
                margin-top: 50px;
            }
        }
    }
    &-icon {
        position: absolute;
        left: -41px;
        top: -30px;
    }
    &-text {
        p {
            font-size: $base;
            line-height: 1.2;
            color: $white;
            max-width: 260px;
            width: 100%;
            margin-right: auto;
            padding-left: 39px;
        }
    }
}

.about-slider{
    &-area {
        margin-bottom: 220px;
    }
    &-top {
        border-radius: 8px;
        background-color: $color_mirage_5_approx;
        padding: 0 110px;
        padding-top: 100px;
        position: relative;
        .style {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }
    &-inner {
        z-index: 10;
        position: relative;
        top: 40px;
    }
    &-title {
        h2 {
            color: $black; 
            margin-bottom: 45px;
        }
    }
    margin: 0 -20px;
}


.slider-title {
	h2 {
		color: $black; 
		margin-bottom: 45px;
	}
}
.single-slider {
	padding: 0 20px;
	p {
		font-size: $base;
		font-weight: 500;
		line-height: 2;
		color: $color_mirage_60_approx;
		margin-bottom: 35px;
	}
}
.single-slider-inner {
	width: 100%;
	border-radius: 8px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
	background-color: $color_pampas_approx;
	padding: 40px;
}
.slider-btm-text {
	display: flex;
	align-items: center;
	justify-content: space-between;
	a {
		font-size: $base;
		line-height: 1.2;
		color: $color_mirage_approx;
		font-weight: 600;
		display: inline-block;
		text-decoration: none;
	}
	p {
		font-size: $base;
		font-weight: 300;
		line-height: 1.2;
		color: $color_mirage_approx;
	}
}
.slick{
    &-right {
        cursor: pointer;
    }
    &-left {
        cursor: pointer;
        left: 90%;
        top: -10px;
    }
    &-arrow {
        position: absolute;
        right: 0;
        top: -10px;
    }
}
.banner{
    &-icon {
        position: absolute;
        right: 27px;
        bottom: 27px;
        a {
            display: block;
            margin-top: 20px;
        }
    }
    &-btm-text {
        p {
            transform: rotate(-270deg);
            font-size: $smallest;
            font-weight: 500;
            line-height: 2;
            color: $white;
            display: inline-block;
            position: absolute;
            right: -43px;
            bottom: 200px;
        }
    }
}

