//colors
$color_big_stone_approx: #172744;
$color_mirage_5_approx: rgba(27, 36, 49, 0.05);
$black: #000;
$white: #fff;
$color_pampas_approx: #f5f3f0;
$white_60: rgba(255, 255, 255, .6);
$white_100: rgba(255, 255, 255, 1);
$color_scooter_approx: #2ab2df;
$color_caribbean_green_approx: #00beb0;
$color_mirage_approx: #1b2431;
$black_20: rgba(0, 0, 0, 0.2);
$black_10: rgba(0, 0, 0, 0.1);
$color_mirage_60_approx: rgba(27, 36, 49, 0.6);
$black_5: rgba(0, 0, 0, 0.05);
$black_0: rgba(0, 0, 0, 0);

//fonts
$fontPrimary: Montserrat;
// $font_1: sans-serif;

// FontSize


// Font size
$larger:50px;
$large:32px;
$medium:22px;
$small:16px;
$base:14px;
$smallest:12px;