{{ partial "page/header.html" . }}


{{if .Params.banner}}
{{ partial "shared/banner.html" .Params.banner }}
{{end}}

{{if .Params.values}}
{{ partial "shared/triple-block.html" .Params.values }}
{{end}}

{{if .Params.addedValue}}}
{{ partial "shared/block.html" .Params.addedValue }}
{{end}}


<section class="config-area companies about-us">
    <div class="container">
        <div class="row spacer-x">
            <div class="col-lg-6 col-md-12">
                <div class="config-inner">
                    <div class="config-left title">
                        <h2>Achter de schermen</h2>
                        <p>Samen met onze collega's bouwen wij aan het Conflux netwerk. We ondersteunen vanuit het
                            netwerk de ontwikkeling
                            van bedrijven in relevante niches in de IT.</p>

                        <p>
                            Met beide een inhoudelijke achtergrond in IT en ruim 15 jaar gezamelijke ervaring met het
                            ontwikkelen van IT bedrijven helpen we onze collega's om kleinschalige IT-bedrijven
                            op te richten en uit te bouwen met elk hun eigen niche maar altijd onze collega's centraal.
                        </p>
                        {{ $contact:= "/contact/"}}
                        <p>Meer weten, volg ons op LinkedIn, Twitter of neem <a
                                href="{{ $contact | relLangURL}}">contact</a> met ons op.
                        </p>
                    </div><!-- /.config-inner-left -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="config-inner">
                    <div class="config-right">
                        <div class="config-right-single">
                            <div class="config-single even">
                                <div class="config-icon">
                                    <img src="/assets/img/bas-knopper.png" alt="Foto Bas Knopper" title="Bas Knopper">
                                </div><!-- /.config-icon -->
                                <div class="config-text">
                                    <p><b>Bas Knopper</b> - CEO</p>
                                    <div class="footer-icon">

                                        <a href="https://twitter.com/BWknopper/"><img
                                                src="/assets/img/footer/twitter.svg" alt="twitter icon"></a>

                                        <a href="https://www.linkedin.com/in/basknopper/"><img
                                                src="/assets/img/footer/linkedin.svg" alt="linkedin icon"></a>

                                    </div>
                                </div><!-- /.config-text -->
                            </div><!-- /.config-single -->
                        </div><!-- /.config-right-single -->
                    </div><!-- /.config-right -->
                </div><!-- /.config-inner -->
                <div class="config-inner">
                    <div class="config-right">
                        <div class="config-right-single">
                            <div class="config-single even">
                                <div class="config-icon">
                                    <img src="/assets/img/rob-brinkman.png" alt="Foto Rob Brinkman"
                                        title="Rob Brinkman">
                                </div><!-- /.config-icon -->
                                <div class="config-text">
                                    <p><b>Rob Brinkman</b> - CTO</p>
                                    <div class="footer-icon">

                                        <a href="https://twitter.com/r088"><img src="/assets/img/footer/twitter.svg"
                                                alt="twitter icon"></a>

                                        <a href="https://www.linkedin.com/in/robbrinkman/"><img
                                                src="/assets/img/footer/linkedin.svg" alt="linkedin icon"></a>

                                    </div>
                                </div><!-- /.config-text -->
                            </div><!-- /.config-single -->
                        </div><!-- /.config-right-single -->
                    </div><!-- /.config-right -->
                </div><!-- /.config-inner -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.config-area -->


{{ partial "page/footer.html" . }}