{{ partial "page/header.html" . }}

{{if .Params.banner}}
{{ partial "shared/banner.html" .Params.banner }}
{{end}}


<!-- =================== config Area =================== -->
<section class="config-area companies companies-page">
    <div class="container">
        <div class="row spacer-x">
            <div class="col-12">
                <div class="config-inner">
                    <div class="config-right">
                        <div class="config-right-single">
                            <!-- single -->
                            {{ range .Params.companies.items }}
                            {{ if .even }}
                            <a id="{{urlize .name}}"></a>
                            <div class="config-single even">
                                <div class="config-icon">
                                    {{ if .logo_color}}
                                    <a href="{{.url_website}}" target="_blank" title="{{.name}}">
                                        <img src="{{.logo_color.src}}" alt="{{.logo.alt}}" title="{{.logo.title}}">
                                    </a>
                                    {{end}}
                                </div><!-- /.config-icon -->
                                <div class="config-text">
                                    <p>{{.long | markdownify }}</p>
                                    <div class="roles">
                                        <p>
                                            <img src="/assets/img/person.svg" alt="Rollen" title="Rollen">
                                            {{.roles}}
                                    </div>
                                    </p>
                                    <div class="urls">
                                        <a href="{{.url_website}}" target="_blank" title="{{.name}}">
                                            {{replace .url_website "https://" ""}}
                                            <img src="/assets/img/arrow-right.svg" alt="arrow"></a>
                                        <!--{{if .url_jobs}}
                                        <a class="jobs" href="{{.url_jobs}}" target="_blank"
                                            title="Vacatures bij {{.name}}">
                                            Werken bij {{.name}}
                                            <img src="/assets/img/arrow-right.svg" alt="arrow"></a>
                                        {{end}}-->
                                    </div>
                                </div><!-- /.config-text -->
                            </div><!-- /.config-single -->
                            {{end}}
                            {{end}}
                        </div><!-- /.config-right-single -->
                        <div class="config-right-single odd">
                            {{ range .Params.companies.items }}
                            {{ if not .even }}
                            <a id="{{urlize .name}}"></a>
                            <div class="config-single even">
                                <div class="config-icon">
                                    {{ if .logo_color}}
                                    <a href="{{.url_website}}" target="_blank" title="{{.name}}">
                                        <img src="{{.logo_color.src}}" alt="{{.logo.alt}}" title="{{.logo.title}}">
                                    </a>
                                    {{end}}
                                </div><!-- /.config-icon -->
                                <div class="config-text">
                                    <p>{{.long | markdownify }}</p>
                                    <div class="roles">
                                        <p>
                                            <img src="/assets/img/person.svg" alt="Rollen" title="Rollen">
                                            {{.roles}}
                                    </div>
                                    </p>
                                    <div class="urls">
                                        <a href="{{.url_website}}" target="_blank" title="{{.name}}">
                                            {{replace .url_website "https://" ""}}
                                            <img src="/assets/img/arrow-right.svg" alt="arrow"></a>
                                        <!--{{if .url_jobs}}
                                        <a class="jobs" href="{{.url_jobs}}" target="_blank"
                                            title="Vacatures bij {{.name}}">
                                            Werken bij {{.name}}
                                            <img src="/assets/img/arrow-right.svg" alt="arrow"></a>
                                        {{end}}-->
                                    </div>
                                </div><!-- /.config-text -->
                            </div><!-- /.config-single -->
                            {{end}}
                            {{end}}
                        </div><!-- /.config-right-single -->
                    </div><!-- /.config-right -->
                </div><!-- /.config-inner -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.config-area -->

{{ partial "page/footer.html" . }}