{{ partial "page/header.html" . }}

{{if .Params.banner}}
{{ partial "shared/banner.html" .Params.banner }}
{{end}}


<section class="service-area">
    <div class="container">
        <div class="row spacer-x">
            {{range .Params.companies.items }}
            <div class="col-lg-4 col-md-6">
                <a id="{{ urlize .name}}"></a>
                <div class="single-service">
                    <div class="service-inner">
                        <div class="service-icon bg-green">
                            {{ if .logo_color}}
                            <a href="{{.url_website}}" target="_blank">
                            <img src="{{.logo_color.src}}" alt="{{.logo_color.alt}}" title="{{.logo_color.title}}">
                            </a>
                            {{end}}
                        </div><!-- /.service-icon -->
                        <div class="service-text">
                            <h3>{{.name}}</h3>
                            <p>{{.long | safeHTML}}</p>
                            <a href="{{.url_website}}" target="_blank">{{replace .url_website "https://" ""}}<img
                                    src="/assets/img/bedrijven/arrow-right.svg" alt="icon"></a>
                        </div><!-- /.service-text -->
                    </div><!-- /.service-inner -->
                </div><!-- /.single-service -->
            </div><!-- /.col-lg-4 -->
            {{end}}
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-area -->


{{if .Params.contact}}
{{ partial "shared/contact.html" .Params.contact }}
{{end}}

{{ partial "page/footer.html" . }}